.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: double;
    width: 50%;
    height: 75%;
}

/* body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: papayawhip} */


h1 {
    align-items: center;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.clrbtn {
    display: flex;
    font-size: revert;
}

.success {
    display: none;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: double;
    width: 50%;
    height: 75%;
    background: radial-gradient(black, transparent);
}

.op34 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.options {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin: 30px;
}

.QDiv {
    border: solid 1px;
    border-color: gray;
    background-color: beige;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2cm;
    font-size: 25px;
    background-color: darkgray;
    padding-left: 1cm;
    padding-right: 1cm;
    height: 16vh;
    align-items: center;

}

.i-cls {
    display: flex;
    justify-content: space-between;
    font-family: system-ui;
    gap: 1cm;
}

.sec-nav {
    display: flex;
    flex-direction: inherit;
    background: rgb(218, 216, 213);
    width: fit-content;
    height: 100%;
}

.sec-nav-head {
    font-size: 25px;
    color: rgb(41, 151, 146);
}

.sec-nav-contain {
    display: flex;
    flex-direction: column;
    align-items: left;
    font-size: 20px;
    border: 2px;
    border-color: grey;
}

.third-nav-contain {
    display: flex;
    flex-direction: column;
    align-items: left;
    font-size: 20px;
}

.third-nav-head {
    font-size: 25px;
    color: rgb(41, 151, 146);
}

.first-navbar,
.sec-navbar {
    border: groove;
}

.btn {
    background-color: bisque;
    height: 70px;
}

.top-nav-btn {
    height: 1cm;
    width: auto;
}

.poster-cls {
    border: groove;
    /* height: 100vh; */
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.poster-img {
    width: 3cm;
    height: 3cm;
}

#homepg {
    padding: 10px;
    display: grid;
    grid-template-columns: auto auto auto;
    /* row-gap: 15px;
    column-gap: 15px; */
}