.nav{
    width: 100%;
    height: 70px;
    background-color: darkgray;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    border: double;
}
.topics{
    display: flex;
    align-items: center;
    justify-content:flex-start;
    padding-left: 40px;
    height: 54px;
    width: 25%;
    border: 1px solid;
}
.topic-sec{
    display: flex;
    flex-direction: column;
}